body{
    /* Style for body */
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
}

.underNonBlack{
  background: #efefef;
}

#header {
  height: 40px;
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 9999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

#about {
   margin: 40px 0 40px 0;

    padding: 0;
    text-align: center;
    background: black;
    color: white;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}

#portfolio {
    margin: auto;
    width: 100%;
    padding: 75px 0 110px;
    background: white;
}

#contacts{
  background: #efefef;
}
